<!DOCTYPE html>
<!-- 페이지네이션 시에 active 값을 변경하기 위한 스크립트 -->
<script language="javascript">
  function on_to_active(page_active, non_active_page_1, non_active_page_2) {
    // 클릭한 페이지를 active 상태로 바꾸고 나머지는 기본값으로 수정한다
    document.getElementById(page_active).setAttribute('class', 'page-item active');
    document.getElementById(non_active_page_1).setAttribute('class', 'page-item');
    document.getElementById(non_active_page_2).setAttribute('class', 'page-item');
  };
</script>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/admin_banner.png" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">쇼핑몰</a></li>
            <li class="breadcrumb-item">관리자</a></li>
            <li class="breadcrumb-item active" aria-current="page">상품등록관리</li>
          </ol>
        </nav>
   	  </div>

      <hr>
      <div class="container">
        <a class="btn btn-default" href="/adminprod/form">+신규등록</a>
        <a class="btn btn-default" href="#">-선택삭제</a>
        <p> 상품 번호를 클릭하여 상품 수정을 할 수 있습니다!
          <table class="table table-striped">
            <thead>
              <tr>
                <th> 번호 </th>
                <th> 제품분류 </th>
                <th> 제조사 </th>
                <th> 상품명 </th>
                <th> 모델명 </th>
                <th> 등록일 </th>
                <th> 판매가 </th>
                <th> 재고량 </th>
              </tr>
            </thead>
            <tbody>
               <% prodata.forEach(function (item, index) { %>
              <tr>
                <td>
                  <a href= "update?itemid=<%= item.itemid %>">
                    <%= item.itemid %>
                  <a>
                </td>
                <td> <%= item.category %> </td>
                <td> <%= item.maker %> </td>
                <td> <%= item.pname %> </td>
                <td> <%= item.modelnum %> </td>
                <td> <%= item.rdate.toLocaleDateString(); %> </td>
                <td> <%= item.price %> </td>
                <td> <%= item.amount %> </td>
              </tr>
              <% }); %>
            </table>
          </div>

  <p>
  <nav aria-label="...">
  <ul class="pagination justify-content-center">
      <li class="page-item" id="page_1" onclick="on_to_active('page_1, 'page_2', 'page_3')">
        <a class="page-link" href="?page=1">1</a>
      </li>
      <li class="page-item" id="page_2" onclick="on_to_active('page_2', 'page_1', 'page_3')">
        <a class="page-link" href="?page=2">2</a>
      </li>
      <li class="page-item" id="page_3" onclick="on_to_active('page_3', 'page_2', 'page_1')">
        <a class="page-link" href="?page=3">3</a>
      </li>

  </ul>
</nav>
