<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/admin_banner.png" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">쇼핑몰</a></li>
            <li class="breadcrumb-item">관리자</a></li>
            <li class="breadcrumb-item active" aria-current="page">매출관리</li>
          </ol>
        </nav>
   	  </div>

      <hr>
      <div class="container">
    <!--    <a class="btn btn-default" href="#">-선택삭제</a>  -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th> 순번 </th>
                <th> 매출총액 </th>
                <th> 상품명 </th>
                <th> 제조사 </th>
                <th> 모델명 </th>
                <th> 남은 재고량 </th>
              </tr>
            </thead>
            <tbody>
               <% salesdata.forEach(function (item, index) { %>
              <tr>
                <td> <%= index+1 %> </td>
                <td> <%= item.sales %> </td>
                <td> <%= item.pname %> </td>
                <td> <%= item.maker %> </td>
                <td> <%= item.modelnum %> </td>
                <td> <%= item.amount %> </td>

              </tr>
              <% }); %>
            </table>
          </div>

</nav>
